#table {
    width: 60%;
    margin: auto;
    margin-top: 50px;
    font-family: sans-serif;
    font-size: medium;
}

#table tr {
    height: 30px;
}

#table th {
    text-align: left;
}

#table th, td {
    padding-left: 6px;
}

#table tr:nth-child(even) {
    background: #DDD;
}
